SUPABASE_URL=https://psmepcgqofdhidgcyyby.supabase.co
SUPABASE_KEY=sb_publishable_-340BVKwT_6W2H51MKZhww_EYfk-V_0
GROQ_API_KEY =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
REPLICATE_API_TOKEN=r8_HxQjUzwFd59DpQUnl020BnnzXSs6EAo0o3uSh
ELEVENLABS_API_KEY=sk_4a84d2e94cdf13bf6ce684ed4bc1f37fac6b213f914c06ee
